[submodule "native/godot-cpp"]
	path = native/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "native/thirdparty/mesh_optimiser/lib"]
	path = native/thirdparty/mesh_optimiser/lib
	url = https://github.com/zeux/meshoptimizer
[submodule "addons/monitor_overlay"]
	path = addons/monitor_overlay
	url = https://github.com/HungryProton/monitor_overlay.git